#######################################################
#Environments                                         #
#######################################################
.venv/
env/
venv/
.env
.env.*

#######################################################
#Python                                               #
#######################################################
__pycache__/
*.pyc
*.pyo
*.pyd
*$py.class

#######################################################
#Tempories files                                      #
#######################################################
*.tmp
*.temp
*.bak

#######################################################
#logs                                                 #
#######################################################
*.log

#######################################################
#cacche and analytics tools                           #
#######################################################
.cache/
.mypy_cache/
.py_test_cache/
.pyre/
.dmypy.json
.mr.developer.cfg

#######################################################
#Coverage                                             #
#######################################################
.coverage
coverage.xml
htmlcov/

#######################################################
#locals databases                                     #
#######################################################
*.sqlite3
*.db

#######################################################
#build & packaging                                    #
#######################################################
build/
dist/
sdist/
*.egg-info/
.eggs/

#######################################################
#Alembic                                              #
#######################################################
migrations/__pycache__/

#######################################################
#Tests                                                #
#######################################################
tests/.pytest_cache/
tests/tmp/

#######################################################
#Docker                                               #
#######################################################
docker-data/
*.pid

#######################################################
#Editeur / EDI                                        #
#######################################################
.vscode/
.idea/
*.swp

#######################################################
#documentations auto-generated                        #
#######################################################
docs/_build/
site/

#######################################################
#OS-specific files                                    #
#######################################################
.DS_Store
Thumbs.db